[*]
charset = utf-8
root = true
end_of_line = lf
indent_size = 2
indent_style = tab
insert_final_newline = false
max_line_length = 80
trim_trailing_whitespace = false

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[COMMIT_EDITMSG]
max_line_length = 0

[*.min.*]
indent_style = ignore
trim_trailing_whitespace = false
insert_final_newline = ignore
